
/**
 * Page content
 */

 .page-content__wrapper {
    justify-content: center;
    display: flex;
    width: 100%;
 }

 .page-content {
    padding: $spacing-unit 0;
    display: flex;
    max-width: 1000px;
}

main {
    margin: 0 48px;
    max-width: 540px;
}

aside {
    margin-right: 48px
}

 article {
    padding-bottom: 4em;
 }


/**
 * Posts
 */
.entry-title {
    padding: 0;
    font-size: 26px;
    line-height: 36px;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.entry-meta {
    color: #767676;
    font-size: 0.6875rem;
    font-weight: 800;
    letter-spacing: 0.1818em;
    padding-bottom: 0.25em;
    text-transform: uppercase;
}

article {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #373737;
    margin-bottom: $spacing-unit;

    p {
        line-height: 26px;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 18px;
        font-weight: 800;
        font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
        margin-bottom: 20px;
    }

    h3 {
        font-size: 26px;
        font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;

        @include media-query($on-laptop) {
            font-size: 22px;
        }

        padding: 0px 10px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 20px;
        font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
        padding: 0px 10px;
        margin-bottom: 20px;
    }

    .highlight {
        font-family: Consolas;
        color: #333;
        z-index: -1;
        background: #fafafd;
        border: 0.063em solid #dedede;
        border-right: 0em solid #fff;
        line-height: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        left: 0;
        right: 0;
        margin: 20px 0px;
    }

    ul {
        padding: 0 10px 20px;
    }
}

/**
 * Home
 */

 .widget-title {
     font-size: 11px;
     font-weight: 800;
     letter-spacing: 0.1818em;
     text-transform: uppercase;
 }

.home  a {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 36px;
    color: #444;
    padding: 10px;
}

.home a:hover {
    background: #fafafd;
    outline:  1px solid #C3D5E4;
}

.home  a::before {
    width: 0;
}

.home .post-meta {
    text-align: right;
}


/** HEADER **/
.cover {
    color: #fff;
    height: 100%;
    background: url('/assets/cropped-pexels-photo-414247.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.site-name {
    position: absolute;
    bottom: 48px;
    width: 100%;
}

.site-name__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 48px;
    position: relative;
}

// .site-name__inner {} 
.site-name__name {
    font-size: 36px;
    line-height: 36px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    a {
        color: #fff;
        text-decoration: none;
    }
}

.site-name__desc {
    font-size: 18px;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}


.cover {
    ul {
        position: absolute;
        margin: 0;
        padding: 0;
        bottom: 0;
        right: 0;
        list-style-type: none;
    }
    li {
        display: inline;
    }
    .btn {
        padding: 10px 30px;
        border: none;
        cursor: pointer;       
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
    }
}


/** HEADER @ Page **/
.site-header {
    height: 20vh;
}
